.lista-filmes{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 50%;
    margin: 14px auto;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}

.teste{
    flex: 1 1 300px;
    text-align: center;
    flex-wrap: wrap;
    width: 45%;
}

.lista-filmes article{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}

.container-filmes {
    width: 100%;
    justify-items: auto;
    position: relative;
}

.lista-filmes strong{
    height: 55px;
    max-width: 100%;
    margin-top: 14px;
    /* text-align: center; */
    font-size: 22px;
    display: block;
}

.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filmes a{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 24px;
    background-color: orange;
    text-decoration: none;
    color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


@media only screen and (max-width: 1284px) {
    .lista-filmes{
        max-width: 70%;
    }

}

@media only screen and (max-width: 665px) {
    
    .lista-filmes{
        max-width: 100%;
    }
    
    .lista-filmes img{
        max-height: 500px;
    }

    .lista-filmes strong{
        height: auto;
        padding-bottom: 10px;
    }

}