.lista-filmes{
    max-width: 800px;
    margin: 14px auto;
}

.lista-filmes article{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}

.lista-filmes img{
    width: 900px;
    max-width: 100%;
    max-height: 300px;
}