header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: orange;
}

.logo:hover{
    text-shadow: 2px 2px black;
}

.logo{
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.favoritos:hover{
    box-shadow: 2px 2px black;
}

.favoritos{
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    padding: 5px 14px;
    color: orange;
    border-radius: 4px;
}